{% extends 'miaplicacion/base.html' %} 
{% load static %} 
{% block titulo %}Acerca de mi{% endblock titulo %} 
{% block cabecera %}Acerca de mi{% endblock cabecera %} 
{% block contenido %}

    <h1 align="center">Hola!!!</h3>


    <h4>Mi nombre es Federico Urano, tengo 21 años y soy un estudiante en Ingenieria en Sisteam de la UTN que queria aprender un poco mas de Python y de la programacion en general.</h4>
    <h4>Ya llevo un tiempo programando, pero nunca me profundice mucho. El curso estuvo muy bueno, Norman es un genio y los tutores me ayudaron cada vez que pudieron</h4>
    <h4>Voy a hacer ahora la carrera de fullstack developer aca en coderhouse, me encanto esta parte de django, nunca habia visto mucho la parte backend</h4>
    <h4>Y me gustaria profundizar un poco mas el html, css y javascript.</h4>


    <h1 align="center">Espero que les guste/haya gustado mi trabajo!</h3>

{% endblock contenido %}