{% extends 'miaplicacion/base.html' %} 
{% load static %} 
{% block titulo %}Autores{% endblock titulo %} 
{% block cabecera %}Autores Asociados{% endblock cabecera %} 
{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Autores</h2></td>
        <td>
            <a
            href="{% url 'create_autor' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for p in autor_list %}
    <tr>
      <td>{{ p.id }}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.edad }}</td>

      <td>
        <a
        href="{% url 'detail_autor' p.id %}"
        class="btn btn-info"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
        ><i class="fa fa-search fa-sm" title="View Record"></i>
        </a>
        <a
          href="{% url 'update_autor' p.id %}"
          class="btn btn-primary"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
        </a>
        <a
          href="{% url 'delete_autor' p.id %}"
          class="btn btn-danger"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}