{% extends 'miaplicacion/base.html' %} 
{% load static %} 
{% block titulo %}Staff{% endblock titulo %} 
{% block cabecera %}Staff{% endblock cabecera %} 
{% block contenido %}
<table>
    <tr>
        <td><h2>Staff: {{object}}</h2></td>
    </tr>
</table>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>DNI</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{ object.id }}</td>
      <td>{{ object.nombre }}</td>
      <td>{{ object.apellido }}</td>
      <td>{{ object.email }}</td>
      <td>{{ object.dni }}</td>
    </tr>

  </tbody>
</table>
<a
href="{% url 'Staff' %}"
class="btn btn-danger"
style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
><i class="fa fa-share fa-sm" title="List Back">Volver</i>
</a>
{% endblock contenido %}