{% extends 'miaplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Staff
{% endblock titulo %}

{% block cabecera %}
    Nuestro staff
{% endblock cabecera %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>DNI</th>
        </tr>
    </thead>
    <tbody>
    {% for staff in Staff %}
        <tr>
            <th>{{staff.id}}</th>
            <th>{{staff.nombre}}</th>
            <th>{{staff.apellido}}</th>
            <th>{{staff.email}}</th>
            <th>{{staff.dni}}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'staffform' %}">Agregar staff</a>
{% endblock contenido %}